

.main-nav
  display: flex

  li
    list-style: none

  li:first-child
    margin-right: auto

  a
    display: block
    color: white
    padding: 8px 10px
    margin-right: 10px
    text-decoration: none
    text-transform: uppercase
    font-weight: 500
    +transition(0s)
//Navigation menu--HOVER effect
a.nav-hover:hover
  border-bottom: 2px solid $secondary
  +transition-delay(0.05s)
